.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: fit-content;
}

.img img{
    width: 70%;
    height: 30%;
    padding: 2%;
    border: 5px solid transparent;
    border-radius: 1vw;
    border-image: radial-gradient(
    ellipse at center, 
    #55BAFD 6%, 
    #45B0F7 76%, 
    #0D8BDF 99%
  ) 1;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 80%;
    border: 1px solid black;
    justify-content: space-around;
    
}

.inserir{
    display: flex;
    border: 1px solid red;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 10%;
}

.inserir_dados{
    display: flex;
    flex-direction: column;
    gap: 2%;
    border: 1px solid black;
    width: 100%;
    height: 50%;
}

.inserir_dados label, .inserir_dados input{
    width: 100%;
}

.inserir_dados input{
    height: 50%;
}

#inserir_senha{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#inserir_senha input{
    height: 20%;
    width: 100%;
}