.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: fit-content;
}

.img img{
    width: 70%;
    height: 30%;
    border: 10px solid rgba(4, 91, 161, 1);
    padding: 5%;
    
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 80%;

    justify-content: space-around;
}