.cabecalho {

    /* background: linear-gradient(357deg, rgba(13, 139, 223, 0.75) -34.33%, #067FE0 46.83%, rgba(13, 139, 223, 0.75) 97.87%); */
    background: linear-gradient(to bottom right, #0D8BDF 0%, #045BA1 28%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #0D8BDF 0%, #045BA1 28%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #0D8BDF 0%, #045BA1 28%) top left / 50% 50% no-repeat, linear-gradient(to top right, #0D8BDF 0%, #045BA1 28%) top right / 50% 50% no-repeat;
    width: 100%;
    height: clamp(1vh, 136px, 15vh);
    display: inline-flex;
    padding: 0 5%;
    align-items: center;
/* fgsdafsad */
    justify-content: space-between;

}

.cabecalho img {
    width: 14%;
}


.cabecalho nav {
    display: inline-flex;
    width: fit-content;
    justify-content: space-bet;
    width: 50%;


}

.cabecalho nav ul {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    white-space: nowrap;
    
    gap: 2%;
    width: 100%;
}

.link{
    text-decoration: none;
}

.cabecalho li {

    font-size: 25px;
    background: linear-gradient(180deg, #FFF1F1 29.81%, #CDE1FE 76.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .65s ease-in-out;
    /* width: 50%; */
}


.cabecalho button {
    width: 8%;
    border-radius: .5vw;
    border: none;
    background-color: var(--laranja);
    color: white;
    font-size: clamp(.4vw, 30px, 2vw);
    height: clamp(37%, 42%, 43%);
}

.cabecalho li:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.cabecalho button:hover {
    transition: .1s ease-in-out;
    /* color: #DEDEDE; */
    background-color: #FF8636;
}


.barraLateral{
    position: absolute;
    right: 999999px;
    top: 0;
}

.barraLateralOpen{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FF8636;
    width: 329px;
    height: 100vh;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div img{
    width: 93px;
    height: 93px;
    margin-top: 22px;
    margin-bottom: 9px;
}

.div hr{
    width: 280px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 11px;
    margin-bottom: 68px;
}

.div h3{
    font-family: var(--font-texto-titulo);
    font-size: 23px;
    color: rgba(0, 0, 0, 0.57);
}

.navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links{
    display: flex;
    justify-content: center;
    width: 230px;
    height: 25px;
    font-weight: bolder;
    font-family: var(--font-texto-titulo);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.57);
    text-decoration: underline solid rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.logout{
    margin-top: 350px;
}


@media (max-width:1000px) {

    .cabecalho img{
        width: 15%;
    }

    .cabecalho nav {
        display: inline-flex;
        width: fit-content;
        width: 50%;
        /* align-self: center; */
        margin-right: 10%;
    }

    .cabecalho nav ul {
        display: inline-flex;
        justify-content: space-around;
        list-style-type: none;
        white-space: nowrap;
        justify-content: space-between;
        gap: 10%;
        width: 100%;
        /* border: 1px solid black; */
    }

    .cabecalho li {

        font-size: 25px;
        background: linear-gradient(180deg, #FFF1F1 29.81%, #CDE1FE 76.92%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 2.5s ease-in-out;
        /* width: 50%; */
    }


    .cabecalho button {
        font-size: 1.1rem;
        width: 10%;
        height: 28%;
    }
}

@media (max-width:768px) {

    .cabecalho nav ul li{
        font-size: 19px;
    }
    .cabecalho button {
        font-size: .9rem;
        width: 9%;
        height: 22%;
    }

}



 
