.cabecalho {
    background: var(--azul-gradiente);
    width: 100%;
    height: clamp(1vh, 136px, 15vh);
    display: inline-flex;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.cabecalho img {
    width: 14%;
}

.cabecalho nav {
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
}

.cabecalho nav ul {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    white-space: nowrap;
    gap: 2%;
    width: 100%;
}

.link {
    text-decoration: none;
}

.cabecalho li {
    font-size: 25px;
    background: linear-gradient(180deg, #FFF1F1 29.81%, #CDE1FE 76.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .65s ease-in-out;
}

.cabecalho li:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

/* Estilo do Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: 998; /* Abaixo da barra lateral, mas acima do conteúdo */
    cursor: pointer;
}

.barraLateral {
    position: fixed; /* Mudado para fixed para garantir que cubra a tela */
    right: -100%; /* Escondido fora da tela */
    top: 0;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.barraLateralOpen {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FF8636;
    width: 329px;
    height: 100vh;
    transition: right 0.3s ease-in-out;
    z-index: 999; /* Acima do overlay */
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div img {
    width: 93px;
    height: 93px;
    margin-top: 22px;
    margin-bottom: 9px;
}

.div hr {
    width: 280px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 11px;
    margin-bottom: 68px;
}

.div h3 {
    font-family: var(--font-texto-titulo);
    font-size: 23px;
    color: rgba(0, 0, 0, 0.57);
}

.navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 25px;
    font-weight: bolder;
    font-family: var(--font-texto-titulo);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.57);
    text-decoration: underline solid rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.logout {
    margin-top: 350px;
    background: none;
    border: none;
    cursor: pointer;
}

.menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
}

.menuButton:hover {
    transform: scale(1.1);
}

@media (max-width:1000px) {
    .cabecalho img { width: 15%; }
    .cabecalho nav { width: 50%; margin-right: 10%; }
    .cabecalho nav ul { gap: 10%; }
    .cabecalho li { font-size: 25px; }
}

@media (max-width:768px) {
    .cabecalho nav ul li { font-size: 19px; }
    .cabecalho button { font-size: .9rem; }
}
