.filtros {
    background: linear-gradient(to bottom right, #0D8BDF 0%, #045BA1 28%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #0D8BDF 0%, #045BA1 28%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #0D8BDF 0%, #045BA1 28%) top left / 50% 50% no-repeat, linear-gradient(to top right, #0D8BDF 0%, #045BA1 28%) top right / 50% 50% no-repeat;
    width: 100%;
    margin: 3% 0 1% 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

}

.filtros h1 {
    text-align: center;
    font-family: var(--font-texto-titulo);
    color: white;

}

.pesquisas {
    /* display: inline-flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 60vw;
    /* border: 1px solid black; */
    height: 100%;
    gap: 5%;
}

.inserir_pesq {
    /* height: 5vh;     */
    padding-left: .5%;
    height: 24%;
    border-radius: .5vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-texto-titulo);
    width: 52%;
    background: var(--background-pesquisa);
    outline: none;
    font-size: 15px;
}

.search {
    width: 50%;
    background-color: transparent;
}

.input {
    font-size: 15px;
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    font-family: var(--font-texto-titulo);
}

.input::placeholder {
    color: black;

}

.icon {
    width: 15%;
}

.select_selecionar {
    /* padding-left: 0; */
}

#inserir_data {
    width: 20%;
    padding-left: 2%;
    outline: none;
    border: none;
}



/* ====================== */

.lista_tabelas th {
    padding: 0 2rem;
}


.lista_tabelas {
    width: 100%;
    padding: 0 0%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.lista_tabelas th {
    font-weight: 400;
    color: var(--cor-texto);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #cfd4da;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-texto-titulo);
}




.lista_tabelas td {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-family: var(--font-texto-padrao);
    padding: 16px;
}

/* Linha separadora abaixo do cabeçalho */
.separador {
    height: 8px;
    border-radius: 1vw;
    width: 10vw;
    padding: 0 !important;
    background: linear-gradient(
        180deg,
        #ABCDFE 0.01%,
        rgba(109, 155, 254, 0.75) 51.92%,
        rgba(171, 205, 254, 0.90) 89.9%
    );
}

/* Linha de conteúdo */
.conteudo td {
    background: linear-gradient(
        180deg,
        #C2D6FF 0%,
        #ABC4F0 100%
    );
    padding: 10px;
}

.card {
    background: #F5F5F5;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
}

.card:hover{
    cursor: pointer;
    transition: 0.2s;

    filter: brightness(0.90);
}


.conteudo td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.conteudo td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Opcional: hover */
.conteudo:hover{
    filter: brightness(0.97);
    transition: 0.2s;
}