* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
}

:root {

  --laranja: #FF6600;

  --azul-gradiente:
    linear-gradient(to bottom right, #0D8BDF 0%, #045BA1 28%) bottom right / 51% 51% no-repeat,
    linear-gradient(to bottom left, #0D8BDF 0%, #045BA1 28%) bottom left / 51% 51% no-repeat,
    linear-gradient(to top left, #0D8BDF 0%, #045BA1 28%) top left / 51% 51% no-repeat,
    linear-gradient(to top right, #0D8BDF 0%, #045BA1 28%) top right / 51% 51% no-repeat;
  --background-pesquisa: linear-gradient(180deg, #B6D3FE 0%, #B4D2FE 27.4%, #B1D0FE 53%, #A7CAFE 73.08%, #95BFFD 100%);
}

.texto_layout {
  font-size: 25px;
  background: linear-gradient(180deg, #FFF1F1 29.81%, #CDE1FE 76.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2.5s ease-in-out;
}


.texto_tabela {
  font-size: 14px;
  background: transparent;
  color: black !important;

}

/* p,
span,
li {
  background: linear-gradient(180deg, #FFF1F1 29.81%, #CDE1FE 76.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */

.link {
  text-decoration: none;
  color: black;
}

p,
span,
li,
button {
  font-family: var(--font-texto-padrao);
}

/* p:hover, */
/* span:hover, */
li:hover,
button:hover {
  cursor: pointer;

}

.texto_layout {}

@media (max-width: 900px) {
  .texto_tabela {
    font-size: 12px;
  }

}