* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  overflow-x: hidden;
}

:root {
<<<<<<< HEAD
  --laranja: #ff6600;
  --azul-gradiente:
    linear-gradient(to bottom right, #55bafd 0%, #0d8bdf 50%) bottom right / 50%
      50% no-repeat,
    linear-gradient(to bottom left, #55bafd 0%, #0d8bdf 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #55bafd 0%, #0d8bdf 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #55bafd 0%, #0d8bdf 50%) top right / 50% 50%
      no-repeat;
  --cor-fundo-botao: #ff6600;
=======

  --laranja: #FF6600;
  --azul-gradiente: linear-gradient(to bottom right, #55BAFD 0%, #0D8BDF 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #55BAFD 0%, #0D8BDF 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #55BAFD 0%, #0D8BDF 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #55BAFD 0%, #0D8BDF 50%) top right / 50% 50% no-repeat;
  --background-pesquisa: linear-gradient(180deg, #B6D3FE 0%, #B4D2FE 27.4%, #B1D0FE 53%, #A7CAFE 73.08%, #95BFFD 100%);
>>>>>>> feature/listaUnidade
}

.texto_layout {
  font-size: 25px;
  background: linear-gradient(180deg, #fff1f1 29.81%, #cde1fe 76.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2.5s ease-in-out;
}


.texto_tabela{
  font-size: 12px;
  background: transparent;
  color: black !important;
  
}

p,
/* span, */
li {
  background: linear-gradient(180deg, #fff1f1 29.81%, #cde1fe 76.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
span,
li,
button {
  font-family: var(--font-texto-padrao);
}

/* p:hover, */
/* span:hover, */
li:hover,
button:hover {
  cursor: pointer;
}
<<<<<<< HEAD
=======

.texto_layout {}

@media (max-width: 900px) {
  .texto_tabela{
    font-size: 12px;
  } 
  
}
>>>>>>> feature/listaUnidade
