/* Linha de conteúdo */
.conteudo td {
    background: linear-gradient(
        180deg,
        #C2D6FF 0%,
        #ABC4F0 100%
    );
    padding: 10px;
}

.card {
    background: #F5F5F5;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
}

.card:hover{
    cursor: pointer;
    transition: 0.2s;

    filter: brightness(0.90);
}


.conteudo td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.conteudo td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Opcional: hover */
.conteudo:hover{
    filter: brightness(0.97);
    transition: 0.2s;
}
#item{
    font-size: 14px;
}
#idade{
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    
}
#acoes{
    width: 70%;
    align-self: flex-end;
    margin-left: 22%;
}